/* base */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#wrapper {}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.row {
  margin: 0 -15px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.col {
  float: left;
}

.col-right {
  float: right;
}

.text-center {
  text-align: center;
}

.clear-fix {
  clear: both;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.col-33 {
  width: 33.333%;
}


/* css */


/* header */

#header {
  background: #222222;
  color: #656565;
}


/* logo */

.logo {
  padding: 0 15px;
  line-height: 58px;
  transition: all 1s ease;
}

.logo a img:hover {
  transform: scale(1.1);
}


/* menu */

ul.main--menu li a {
  padding: 20px 15px;
  display: inline-block;
  text-transform: capitalize;
}

ul.main--menu li a:hover {
  color: #222222;
  background: #656565;
}


/* projcet */

#project {
  padding: 65px 0;
}

.project__title {
  padding: 0 15px;
}

.project__title h1 {
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}

.project__title h1 span {
  color: #656565;
  font-weight: 400;
  font-size: 20px;
}

.project__slide {
  margin: 20px 0;
}

.project__item {
  padding: 0 15px;
}

.project__item--title {
  padding: 25px 0 15px;
}

.project__item--title h3 {
  font-size: 24px;
  color: #3f6faf;
}

.project__item--sub {
  margin-bottom: 20px;
}


/* end projecgt */

#button {
  margin-top: 20px;
}

ul.page--number {
  padding: 40px 15px;
  margin: 0 auto;
  font-size: 0px;
  border-width: 1px;
  border-color: #dedede transparent;
  border-style: solid;
}

ul.page--number li a {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #dedede;
  color: #3579b8;
  display: block;
  transition: all .5s ease;
}

ul.page--number li+li a {
  border-color: #dedede #dedede #dedede transparent;
}

ul.page--number li a:hover {
  background: #3579b8;
  color: #fff;
  border-color: #3579b8;
}


/* footer */

#footer p {
  line-height: 130px;
  padding: 0 15px;
}